/*--------------------------------------------------------
	1. GLOBAL
	2. HEADER & NAV
	3. MAIN CONTENT
	4. PROFILE
	5. RESUME
	6. GALLERY
	7. CONTACT
	8. FOOTER
	9. RESPONSIVE CODE
--------------------------------------------------------*/

/*---------------------1. GLOBAL------------------------*/

body, html {
    height: 100%;
    width: 100%;
}

.vertical-align {
    display: flex;
    align-items: center;
}

body {
    font-family: 'Maven Pro', sans-serif;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.no-padding {
    padding: 0px !important;
}

.main-content {
    margin: 50px 0;
    overflow: hidden;
}

a:hover {
    text-decoration: none;
}

/*---LOADER---*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader-name {
    position: relative;
    top: 50%;
    margin: -120px 0 0 0;
    z-index: 1001;
    color: #000000;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader, .loaded #loader-name {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.no-js #loader-wrapper {
    display: none;
}

.no-js h1 {
    color: #222028;
}

/*---SCROLL BAR---*/

::-webkit-scrollbar {
    width: 7px;
}

/*-------------------2. HEADER & NAV--------------------*/

.l-content {
    width: 25%;
    padding: 0px;
}

/*---Profile Pic---*/

.profile-pic {
    background: url(../images/profile-bg.jpg) no-repeat;
    height: 266px;
    position: relative;
}

.pic-bg {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: table-cell;
    margin: auto;
    vertical-align: middle;
    padding: 10px;
}

.name {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

/*---Navigation---*/

.navigation {
    margin: 0px;
}

.navigation li {
    position: relative;
    list-style: none;
}

.navigation li a {
    padding: 23.7px 25px;
    display: table;
    width: 100%;
    font-size: 17px;
    position: relative;
    letter-spacing: .5px;
}

.navigation li a i {
    font-size: 20px;
    float: right;
    position: relative;
    top: 1px;
    margin-left: 15px;
}

.navigation li:last-child {
    border-bottom: none;
}

.navigation li:before {
    content: '';
    position: absolute;
    top: 0px;
    width: 0%;
    height: 100%;
    right: 0px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navigation li:hover:before ,
.navigation li.flex-active:before {
    content: '';
    width: 100% !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/*------------------3. MAIN CONTENT---------------------*/

.r-content {
    padding: 0px;
    width: 75%;
}

.profile, .resume, .gallery, .contact {
    padding: 30px 30px 0;
    overflow: hidden;
}

article h6 {
    margin: 0;
}

/*---Separator---*/

.spacer {
    width: 100%;
    position: relative;
    margin: 20px 0px 20px 0px;
}

.mask {
    overflow: hidden;
    height: 20px;
}

.mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    height: 25px;
    border-radius: 75px / 12px;
}

/*---Page Head---*/

.page-head h2 {
    margin: 0px;
}

.page-head p {
    font-size: 13px;
    padding-top: 4px;
    text-align: right;
}

.np-controls a i {
    font-size: 30px;
    margin-left: 4px;
}

.np-controls {
    float: right;
    position: relative;
    top: 5px;
    margin-left: 15px;
}

/*---------------------4. PROFILE-----------------------*/

.profile h3 {
    color: rgba(0,0,0,0.8);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

.profile article {
    line-height: 1.4rem;
}

/*----------------------5. RESUME-----------------------*/

.download-print-button {
    margin-bottom: 15px;
}

.download-print-button a {
    margin-bottom: 10px;
}

.download-print-button div {
    display: flex;
    justify-content: center;
}

.hvr-grow-shadow {
    width: 50%;
    height: 54px;
    line-height: 54px;
    padding: 0 26px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.skill-tag {
    float: left;
    padding: 12px 25px;
    position: relative;
    margin-left: 40px;
    border-width: 1px 1px 1px 0;
    -moz-border-radius: 0 12.5px 12.5px 0;
    -webkit-border-radius: 0;
    border-radius: 0 12.5px 12.5px 0;
}

.skill-tag:before,
.skill-tag:after {
    content: "";
    position: absolute;
    display: block;
    border-width: 1px;
}

.skill-tag:before {
    z-index: -1;
    left: 25px;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 0px;
    -moz-transform: translate(-51px, -1px) scale(0.70711, 0.70711) rotateZ(-45deg);
    -ms-transform: translate(-51px, -1px) scale(0.70711, 0.70711) rotateZ(-45deg);
    -webkit-transform: translate(-51px, -1px) scale(0.70711, 0.70711) rotateZ(-45deg);
    transform: translate(-51px, -1px) scale(0.70711, 0.70711) rotateZ(-45deg);
    -moz-border-radius: 16.66667px 0 0 0;
    -webkit-border-radius: 16.66667px;
    border-radius: 16.66667px 0 0 0;
}

.skill-tag:after {
    top: 18px;
    left: -3px;
    width: 13px;
    height: 13px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.skill-tag {
    -moz-box-shadow: 2px 1px 1px rgba(0,0,0,0.12), 2px 1px 1px rgba(0,0,0,0.24);
    -webkit-box-shadow: 2px 1px 1px rgba(0,0,0,0.12), 2px 1px 1px rgba(0,0,0,0.24);
    box-shadow: 2px 1px 1px rgba(0,0,0,0.12), 2px 1px 1px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.skill-tag:hover {
    -moz-box-shadow: 28px 16px 28px rgba(0,0,0,0.25), 10px 10px 10px rgba(0,0,0,0.22);
    -webkit-box-shadow: 28px 16px 28px rgba(0,0,0,0.25), 10px 10px 10px rgba(0,0,0,0.22);
    box-shadow: 28px 16px 28px rgba(0,0,0,0.25), 10px 10px 10px rgba(0,0,0,0.22);
}

.timeline {
    position: relative;
    margin: 30px 0;
}

.timeline .line {
    position: absolute;
    width: 4px;
    top: 25px;
    bottom: 10px;
    margin-left: 25px;
}

.timeline .card {
    margin: 10px 0px 21px 50px;
    clear: both;
}

.timeline .card .card-header.icon-m {
    font-size: 20px;
    line-height: 40px;
    position: absolute;
    left: -46px;
    top: -20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
}

.timeline .card .card-header.icon-b {
    position: absolute;
    left: -44px;
    top: 10px;
    width: 40px;
    text-align: center;
    border: 0px;
}

.timeline .card-outline {
    background: transparent !important;
    box-shadow: none !important;
}

.timeline .card-outline .card-block {
    padding: 10px 0px;
}

.timeline .card-outline .card-header:not(.icon-m),
.timeline .card-outline .card-footer {
    display: none;
}

.timeline .card-header {
    border-radius: 0.25rem;
    border: 0px;
}

.timeline .card-header small {
    float: right;
}

.timeline .card .card-header:not(.icon-b):not(.icon-m):before {
    content: '';
    position: absolute;
    right: 100%;
    border: 10px solid transparent;
    border-right: 15px solid #232323;
}

.timeline .card-block {
    padding: 0.5rem;
}

.timeline .card-block article {
    font-size: 0.9rem;
}

.timeline .card-block i {
    font-size: 0.7rem;
    padding-right: 3px;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}

#quote-carousel .carousel-control {
    background: none;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}

#quote-carousel .carousel-control.left {
    left: -60px;
}

#quote-carousel .carousel-control.right {
    right: -60px;
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}

#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    border-radius: 100px;
    opacity: 1;
    overflow: hidden;
}

.carousel-inner {
    min-height: 350px;
}

.carousel-item blockquote {
    border-left: none;
    margin: 0;
}

.carousel-item blockquote p {
    font-size: 0.9rem;
}

.carousel-item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
}	

/*---------------------6. GALLERY-----------------------*/

.gallery-wrap {
    padding: 0 5px;
}

#gallery-ul .item {
    margin-bottom: 12px;
    -moz-box-sizing: border-box;
    list-style: none;
}

#gallery-ul .item a {
    display: inline-block;
}

#gallery-ul .item img {
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.gallery-img {
    position: relative;
}

.gallery-img:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.gallery-img:hover:after {
    opacity: 1;
}

/*---------------------7. CONTACT-----------------------*/

/*---Contact-Info---*/

.contact-info li {
    width: 100%;
    height: 43px;
    overflow: hidden;
    margin-bottom: 10px;
}

.contact-info li em, .contact-info li span {
    padding-left: 15px;
    line-height: 43px;
    font-size: 15px;
    display: inline-block;
}

.contact-info li em {
    width: 30%;
}

.contact-info li span {
    width: 70%;
}

/*---Map---*/

.gmap {
    padding: 0px;
    height: 360px;
    margin: 25px auto;
}

.gmap div {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#map {
    display: block;
    width: 100%;
    height: 360px;
    margin: 0 auto;
}

#map.large {
    height: 500px;
}

#map img {
    max-width: none !important;
    height: auto;
}

/*---Contact-Form---*/

.contact-form form {
    margin: 20px 0;
}

.contact-form button {
    float: right;
}

.contact-form input {
    height: 50px;
}

.successmessage {
    display: none;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
}

.successmessage p {
    margin: 0;
    font-size: 1em;
}

/*----------------------8. FOOTER-----------------------*/

footer {
    height: 70px;
    padding: 20px 30px;
    position: relative;
    z-index: 99;
}

footer p {
    font-size: 14px;
    text-align: right;
}

.social {
    padding: 0px;
    display: table;
    float: left;
}

.social li {
    float: right;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.social li a {
    font-size: 19px;
}

/*-----------------9. RESPONSIVE CODE-------------------*/

/* Tablet (Portrait) : 768px <= width <= 991px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 755px;
        width: 755px;
        margin: 0 auto;
    }

    footer p {
        color: #000;
        font-size: 13px;
    }

    .nav-col {
        margin-right: 0px;
    }

    .profile article {
        line-height: 1.5rem;
    }
}

/*  Mobile (Portrait) : Width < 768px */

@media only screen and (max-width: 767px) {
    .container {
        max-width: 280px;
        width: 280px;
        margin: 0 auto;
    }

    .l-content {
        background: #000;
        height: auto;
        display: table;
    }

    .l-content, .r-content {
        padding: 0px;
        width: 100%;
    }

    .navigation li {
        float: left;
        width: 25%;
    }

    .navigation li a {
        font-size: 0px;
    }

    .navigation li a i {
        font-size: 20px;
        margin-left: 0px;
        float: none;
    }

    .np-main {
        width: 100%;
    }

    .profile article {
        line-height: 1.5rem;
    }

    .personal-info li em, .personal-info li span {
        font-size: 13px;
    }


    .flexslider {
        min-height: auto;
    }

    .carousel-inner {
        min-height: 800px;
    }

    #quote-carousel .carousel-indicators li {
        width: 30px;
        height: 30px;
        border-radius: 30px;
    }

    #quote-carousel .carousel-indicators .active {
        width: 45px;
        height: 45px;
        border-radius: 45px;
    }

    #gallery-ul .item {
        width: 49%;
    }

    footer {
        height: 100px;
    }

    footer p {
        font-size: 12px;
        text-align: center;
    }

    .social {
        padding: 0px;
        display: table;
        float: none;
        margin: 0 auto;
    }

    .timeline .card .card-header h6,  .timeline .card .card-block h6 {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        font-weight: 700;
    }
}

/* Mobile (Landscape) : 544px <= Width < 768px */

@media only screen and (min-width: 544px) and (max-width: 767px) {
    .container {
        max-width: 510px;
        width: 510px;
        margin: 0 auto;
    }

    .navigation li a i {
        text-align: center;
        display: table;
        margin: 0 auto;
    }

    .profile-pic {
        background-size: 100% auto;
    }
}